.content-wrapper {
    padding: 1.5rem 1rem 1.5rem 1rem;
}
.table td {
    font-size: 0.7rem;
}
.vanban {

    width:100%;
        white-space: pre-wrap; 
        overflow: hidden; 
        /*// ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài*/
        text-overflow: ellipsis; /*//thêm 3 dấu chấm ở cuối*/
        -webkit-line-clamp: 2;/*// số dòng muốn hiển thị*/
        -webkit-box-orient: vertical;
         display: -webkit-box;
    }
    .vanban11 {

        width:230px;
            white-space: normal; 
            overflow: hidden; 
            /*// ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài*/
            text-overflow: ellipsis; /*//thêm 3 dấu chấm ở cuối*/
            -webkit-line-clamp: 2;/*// số dòng muốn hiển thị*/
            -webkit-box-orient: vertical;
             display: -webkit-box;
        }
    .tbl-list tr th:nth-child(2),
    .tbl-list tr td:nth-child(2){
        width: 15%;
    }
    .tbl-list-order tr th:nth-child(1),
    .tbl-list-order tr td:nth-child(1){
        width: 10%;
    }
    .tbl-list tr th:nth-child(4),
    .tbl-list tr td:nth-child(4){
        width: 50%;
    }
    .tbl-list11 tr th:nth-child(4),
    .tbl-list11 tr td:nth-child(4){
        width: 20%;
    }
    .table th, .table td {
        padding: 10px;
    }
    .table td img {
        width: 100px;
        height: 100px;
        border-radius: 0px;
    }
    .tableslide td img {
        width: 400px;
        height: 200px;
        border-radius: 0px;
    }
    .buy-button a{
        background: #444;
        padding: 5px;
        color: #fff;
    }
    #pagination{
        text-align: right;
        margin-top: 15px;
    }
    .page-item{
        border: 1px solid #ccc;
        padding: 5px 9px;
        color: #000;
    }
    .current-page{
        background: #000;
        color: #FFF;
    }

    /* ----------------------------------- */
    .modal .modal-dialog {
        margin-top: 0;
    }
    .modal .modal-dialog .modal-content .modal-header {
        padding: 10px 20px;
    }
    .modal .modal-dialog .modal-content .modal-body {
        padding: 10px 20px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .form-group label {
        margin-bottom: 0;
    }

    /* --------------------------------- */
    .info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
/* -------------------------- */

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}



.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -3px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 40px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px !important;
    right: 1px;
    width: 20px
}